<main>
    <h1>
        {{ appName }}
    </h1>

    <header>
        <nav>
            <ul>
                <li *ngIf="!isLogged">
                    <a routerLink="/login">Login</a>
                </li>
                <li *ngIf="!isLogged">
                    <a routerLink="/register">Register</a>
                </li>
                <li *ngIf="isLogged">
                    <a routerLink="/expenses">Expenses</a>
                </li>
                <li *ngIf="isLogged">
                    <a routerLink="/logout">Logout (<app-user></app-user>)</a>
                </li>
            </ul>
        </nav>
    </header>

    <router-outlet></router-outlet>
</main>
