<mat-card>
    <mat-card-header>
        <mat-card-title>
            Expenses
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-table #table [dataSource]="expenses">
            <!-- Name Column -->
            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
                <mat-cell *matCellDef="let expense">{{ expense.date }}</mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
                <mat-cell *matCellDef="let expense">{{expense.description }}</mat-cell>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="amount">
                <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
                <mat-cell *matCellDef="let expense">{{expense.amount }}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>
            Total
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-chip-list>
            <mat-chip>
                <app-total></app-total>
            </mat-chip>
        </mat-chip-list>
    </mat-card-content>
</mat-card>
